.container{
    border: 2px solid bisque;
    height: 700px;
    width: 1200px;
    background-color: bisque;
    margin-bottom: 50px;
    
}
.box{
    width: 300px;
    height: 250px;
    margin: auto;
    /* margin-top: 50px; */
    /* padding-top:-20px; */
    background-color: white;
  
    
}
h3{
    /* margin-top: 10px; */
    text-align: center;
   
}
.box button{
    border-color: blueviolet;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    color: white;
    background-color: blueviolet;
}
.box button:hover{
    background-color: rgb(134, 48, 214); ;
}